body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav li:nth-child(1) a {
    background-color: #f44336;
}

nav li:nth-child(2) a {
    background-color: #2196F3; 
}

nav li:nth-child(3) a {
    background-color: #4CAF50; 
}

.appointment-box {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto; 
}

.appointment-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.appointment-box input,
.appointment-box select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.appointment-box button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.appointment-box button:hover {
    background-color: #555;
}

.edit-appointment-box {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px auto; 
}

.edit-appointment-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-appointment-box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-appointment-box button {
    width: 100%;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-appointment-box button:hover {
    background-color: #555;
}

.edit-form {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px auto; 
    display: none;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-form input,
.edit-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form button {
    width: 100%;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #555;
}

input[type="text"],
input[type="time"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="checkbox"] {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#appointment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#appointment-list li {
    width: 300px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.appointment-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.appointment-details div {
    margin-bottom: 5px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f;
}
.appointment-details div {
    font-weight: bold;
}